@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #1e3a8a, #3b82f6);
  color: white;
}
